.gallery {
    display: grid;
    gap: 10px;
    padding-inline: 10px;

}

.gallery a {
    overflow: hidden;
    height: auto;
    width: auto;
    border-radius: 8px;
    border: 2px solid var(--colorgeneral);
    display: block;
    transition: box-shadow 0.3s ease-in-out;
}


.gallery video {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.gallery a:hover video {
    display: none;
}

.gallery .hovernone {
    width: 100%;
    height: auto;
    display: block;
}

.gallery .hover {
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
     display: none;
}

.gallery a:hover .hover {
    opacity: 1;
    display: block;
}



.galeria3 {
    max-height: auto;
    height: auto;
}

.galeria3 article{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-block: var(--galeria-margen-block);
}
.galeria3 h1{
    text-align: center;
    color: white;
    font-size: xxx-large;
    margin-block: var(--galeria-margen-block);
}

.galeria3 p{
    width: 75vw;
    text-align: center;
    color: white;
    margin: 0 auto;
    margin-block: var(--galeria-margen-block);
}
.galeria3 footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-block: var(--galeria-margen-block);
}



/* Media queries for responsiveness */
@media screen and (max-width: 464px) {
    .galeria3 h1{
        font-size: large;
    }
    .galeria3 p{
        font-size: medium;
    }
    .galeria3  footer img{
        height: 32px;
    }
}
@media screen and (min-width:464px) and (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    .galeria3 h1{
        font-size: large;
    }
    .galeria3 p{
        font-size: medium;
    }
    .galeria3  footer img{
        height: 32px;
    }
}

@media screen and (min-width:768px) and (max-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    .galeria3 h1{
        font-size: x-large;
    }
    .galeria3 p{
        font-size: medium;
    }
    .galeria3 footer img{
        height: 64px;
    }
}

@media screen and (min-width:1024px) and (max-width: 1200px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }

    .galeria3 h1{
        font-size: x-large;
    }
    .galeria3 p{
        font-size: medium;
    }
    .galeria3 img{
        height: 32px;
    }
}


@media screen and (min-width:1200px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }

    .galeria3 h1{
        font-size: xxx-large;
    }
    .galeria3 p{
        font-size: x-large;
    }
    .galeria3 img{
        height: 64px;
    }
}
