/* Importing external CSS files */
@import url('./galeria/galerias.css');
@import url('seccion.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

:root {
    --colorgeneral: rgb(90, 66, 4); /* Replace with the color value you want */
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%; /* Fixed width for the body */
    display: flex;
    flex-direction: column;
    background-color: black;
}

header {
    height: 52px;
    width: 100%;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--colorgeneral);
    box-shadow: 0px 5px 61px 2px var(--colorgeneral);
}

/* Moved nav, a, figure, img, and figcaption styles out of the header block */
header nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header a {
    text-decoration: none;
}

header figure {
    height: 42px;
    width: auto;
    padding-inline: 10px;
}

header img {
    height: 42px;
    width: auto;
    margin-inline: 5px;
}

header figcaption {
    font-size: x-large;
}

main {
    flex: 1;
    padding: 15px 0; /* Updated padding shorthand */
}
