.html-swiper,
.body-swiper {
  position: relative;
  height: 100%;
}

.body-swiper {
  background: black;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

swiper-container {
  width: 100%;
  height: 90vh;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

swiper-slide video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

body {
  background: #000;
  color: #000;
}

swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper {
  height: 80vh;
  width: 100%;
}

.mySwiper2 {
  height: 10vh;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper2 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
}


.footer-swiper{
    height: 5vh;
    padding: 5px;
    
  }
  .footer-swiper  div{
      height: 100%;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .footer-swiper a{
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  
  .footer-swiper figure{
    height: 25%;
    width: 75%;
    background-color: var(--colorgeneral);
    transition: 0s;
  }

  .footer-swiper figure:hover{
    animation: tilt-shaking 0.5s ease-in-out infinite;
  }

  .lapiz-uno{
    border-radius: 10% 10% 10% 10% / 100% 0% 0% 100%;
  }
  
  .lapiz-dos{
    border-radius: 10% 10% 10% 10% / 0% 100% 100% 0%;
  }

  @keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(0.5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-0.5deg); }
    100% { transform: rotate(0deg); }
  }

@media screen and (max-width: 425px){
  swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}